body {
    background-color: black;
    color: seashell;
}

.container {
    border: 1px solid white;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
}

.inner-container{ 
    border: 1px solid orange;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr;  
}

header img {
    display: flex;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}